@import '../main/colors.scss';


.block {
    background-color: var(--color-grey);
    color: var(--color-white);
    padding: 1.25rem 0;
    position: absolute;
    bottom: 0;
    height: 1.25rem;
    left: 0;
    width: 100%;
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
    // font-weight: 400;

    &__container {
      display: flex;
      justify-content: space-evenly;
    //   margin: 0 auto;
    }
  }
  
  