@import '../main/font.scss';
@import '../main/colors.scss';
@import '../global/breakpoints.scss';


.product-section-1{
    display: flex;
    width: 100%;
    @include media("sm"){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.drone-carousel{
    width: 50%;
    padding: 16px;
    @include media("sm"){
        display: none;
    }
}

.demo-description{
    width: 50%;
    color: var(--color-black);
    padding: 16px 143px 16px 143px;
    @include media("sm"){
        width: auto;
        color: var(--color-black);
        padding: 16px 143px 16px 143px;
    }

}

h1{
    margin-top: 0;
}

#demo-button{
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding:  16px 32px 16px 32px;
    cursor: pointer;
    transition: background-color 0.5s ease; /* Adding a smooth transition */

}

#demo-button:hover{
    background-color: var(--color-skyblue);
}

//mobile version
.mobile-drone-carousel{
    display: none;
    @include media("sm"){
        display: block;
        padding: 16px;
    }
}

