@import '../main/colors.scss';
@import '../global/breakpoints.scss';

.profile {
    color: var(--color-black);
    padding: 0 80px 0 80px;
    padding-top: 5%;

    @include media("md") {
        padding: 0 3.75rem 0 3.75rem;


    }

    @include media("sm") {
        padding: 0 40px 0 40px;

    }
}

.profile-title {
    font-size: 400%;
    transition: font-size 0.5s ease;

    @include media("md") {
        font-size: 300%;
    }

    @include media("sm") {
        font-size: 200%;
    }

    @include media("xs") {
        font-size: 100%;
    }

}

.profile-section-1 {
    width: 100%;
    height: 160px;
}

.profile-section-2 {
    height: auto;
    padding: 0 80px 0 80px;

    @include media("md") {
        padding: 0 60px 0 60px;
    }

    @include media("sm") {
        padding: 0 40px 0 40px;
    }

    @include media("xs") {
        padding: 0 20px 0 20px;
    }

    @include media("xxs") {
        padding: 0 0 0 0;
    }
}



.accordion-content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 40px;

    @include media("xxs") {
        padding: 0 0 0 0;
    }

    :hover {
        color: var(--color-black);
    }

}

.personal-info,
.password,
.contact-accordion {
    width: 95%;
}

.gear {
    height: 40px;
    padding: 0;
    background-color: transparent;
}

.profile {


    .accordion-item {
        margin-bottom: 15px;
        user-select: none;

        .accordion-header,
        .name,
        .dob,
        .gender,
        .password,
        .email,
        .phone-number,
        .accordion-expand-header {
            cursor: pointer;
            position: relative;

            &:hover {
                color: #007bff;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--color-black);
                transform-origin: bottom left;
                transform: scaleX(1);
            }
        }

        .accordion-content {
            :hover {
                color: var(--color-black);
                cursor: default;
            }
        }

        .name {
            display: flex;

            @include media("sm") {
                display: block;
            }

            :hover {
                color: var(--color-black);
            }
        }

        .dob {
            display: flex;

            @include media("sm") {
                display: block;
            }

            :hover {
                color: var(--color-black);
            }
        }

        .gender {
            display: flex;

            @include media("sm") {
                display: block;
            }

            :hover {
                color: var(--color-black);
            }
        }

        .password {
            display: flex;

            @include media("sm") {
                display: block;
            }

            :hover {
                color: var(--color-black);
            }
        }

        .email,
        .phone-number {
            display: flex;

            @include media("sm") {
                display: block;
            }
        }

        .fullName {
            display: flex;
            align-items: center;
            padding-right: 219.2px;

            :hover {
                color: var(--color-black);
            }
        }

        .fullName-output{
            display: flex;
            align-items: center;
        }

        .dob-hover {
            padding-right: 192px;
        }

        .gender-hover {
            padding-right: 256px;
        }

        .password-title {
            padding-right: 184px;

            :hover {
                color: var(--color-black);
            }
        }

        .email-title {
            padding-right: 208px;
        }

        .phone-title {
            padding-right: 145.6px;

        }

        .password-gear {
            padding: 0 28.8px 0 28.8px
        }

        .accordion-expand-header {
            display: flex;
            justify-content: space-between;
        }

        .flex {
            display: flex;
        }



    }

}

.noUser {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);

    height: 100vh;

    &__login{
        display: flex;
        font-size: 16px;
        color: var(--color-black);
        margin-top: 16px;
    }
}

#login-a{
    color: var(--color-skyblue);
}

#login-a:hover{
    color: var(--color-blue)
}

.configuration {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataHeader {
    display: flex;
    justify-content: space-around;
}

.showData { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.serial {
    width: 25%; 
    display: inline-block; 
    margin-left: 11%;
}

.format {
    width: 25%; 
    display: inline-block; 
    margin-left: 16%;
}

.ua {
    width: 25%; 
    display: inline-block; 
    margin-left: 13%;
}

.uas {
    width: 25%; 
    display: inline-block; 
    margin-left: 11%;
}

.profil-border {
    height: 160px;
}

.save-button{
    background-color: var(--color-skyblue);
    color: var(--color-black);
    padding: .125rem;
    margin: .375rem;
}

.save-button:hover{
    color: var(--color-white) !important;
    cursor: pointer !important;

}

input{
    background-color: var(--color-white);
    color: var(--color-black);
}