@function translate-media-condition($c) {
  $breakpoints: (
    "xxs": 33.75rem,
    "xs": 48rem,
    "sm": 64rem,
    "md": 75rem,
    "lg": 90rem,
    "xl": 120rem,
  ) !default;
  @return map-get($breakpoints, $c);
}

@mixin media($size, $min: false) {
  $one: .0625rem !default;
  $query: "";
  $bp: translate-media-condition($size);
  
  @if $min {
    $query: "(min-width: #{$bp})";
  } @else {
    $query: "(max-width: #{$bp - $one})";
  }

  @media #{$query} {
    @content;
  }
}