:root {
    --color-grey: #c2c2c2;
    --color-white: #ffffff;
    --color-skyblue: #02b9fa;
    --color-black: #000000;
    --color-lightestgrey: #e5e3e3;
    --color-lightergrey: #dbdada;
    --color-blue: #1479ee;
    --color-darkgrey: #485571;
    --color-lightgrey: #d9d9d9;
    --color-darkblue: #2e4e6d;
    --color-green: #0cc90e;
    --color-red: #d40030;



    //fontcolors
    --color-fontcolor: #0f1e42;
    --color-fontgrey: #767676;
    --color-footerfont: #7A7A7A;
  }